.header-appear {
  opacity: 0.1;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1.2s ease, transform 1.2s ease;
  will-change: opacity, visibility;
}

.header-appear.header-appear-active {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.body-appear {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 3s ease, transform 1.2s ease;
  will-change: opacity, visibility;
}

.body-appear.body-appear-active {
  opacity: 1;
  transform: none;
  visibility: visible;
}
